.detailsProduct {
  max-width: 200px;
  background: #03071e;
}

.titleProduct {
  color: #ffffff;
  font-size: x-large;
  flex: 1;
  align-items: center;
}

.price {
  color: #03071e;
  background: #faa307;
  font-size: 28px;
  flex: 1;
  align-items: center;
}

.none {
  display: none;
}
