@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  padding: 0;
  margin: 0;
  font-style: italic;
}

.font-LYLAS {
  font-family: "Love Ya Like A Sister", cursive;
}

.font-Lacquer {
  font-family: "Lacquer", system-ui;
}

.font-LexendExa {
  font-family: "Lexend Exa", sans-serif;
}

html,body,#_next {
  background: #370617;
  height: 100%;
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

.img-responsive {
  width: 100%;
  height: auto;
}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

