@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-style: italic;
}

.font-LYLAS {
  font-family: "Love Ya Like A Sister", cursive;
}

.font-Lacquer {
  font-family: "Lacquer", system-ui;
}

.font-LexendExa {
  font-family: "Lexend Exa", sans-serif;
}

body {
  background: #370617;
}

.no-scroll {
  overflow: hidden;
}
