.containerProduct {
  display: flex;
  justify-content: center;
  gap: 15px;
  border-radius: 20px;
  flex-flow: wrap column;
  background: #03071e;
  padding: 20px;
}

.titleContainer {
  color: #ffffff;
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 1px solid #ffffff;
}
